.container{
    font-size: 15px;
    background-color: darkgray;
}
.box{
    padding: 10px 0px;
    background-color: white;
}
/*  https://bootsnipp.com/snippets/or33d */
.box-part{
    padding:10px 10px;
    margin:10px 0px;
    border:1px solid black;
}
.post-content{
    height: 100px;
    overflow-y: auto;
    margin: 5px auto;
}
.post-picture {
    /* Must be a square image (width == height)*/
    width:75%;
}
.post-content{
    color:blue;
}
.user-info{
    border:1px solid black;
    color:black;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.profile-picture{
    width:20%;
    border-radius: 20%;
}
.post-author{
    width:60%;
    margin: auto;
    text-align: center;
}
.rowPosts {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.scrollmenu {
    overflow: auto;
    white-space: nowrap;
}
.scrollmenu div {
    display: inline-block;
    color: black;
    text-align: center;
    text-decoration: none;
    margin:10px;
    width: 25%;
    border: 1px solid black;
    border-radius: 5%;
}
.profileLink{
    position:fixed;
    top:10px;
    right:10px;
    height:100px;
    border-radius: 50%;
    box-sizing: border-box;
    outline: 3px solid blue;
}
.newUser img{
    width:50%;
    margin:5px auto;
    border-radius:5%;
}


.navbarContainer a{
    width:25%;
    height:100%;
    text-align: center;
}
.navbarContainer a:hover{
    background-color: gray;
}

.postActions{
    width:100%;
    display: flex;
}
.postActions a{
    width:100%;
    text-align: center;
    height:100%;
}