<!DOCTYPE html>
<html>
    <head>
        <title>Edit Profile Picture ({{username}})</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/CSS/login.css">
        <link rel="stylesheet" href="/static/CSS/newPost.css">
    </head>
    <body>
        <form action="/{{username}}/publishNewProfilePicture" method="post">
            <div class="container">
                <h1>New Profile Picture</h1>
                <img src="" alt="Image Preview" id="imagePreview">
                <div class="mb-3">
                    <label for="imageurl" class="form-label">Image URL</label>
                    <input type="text" class="form-control" id="imageurl" name="imageurl" required>
                    <button class="btn btn-info" onclick="previewImage()">Preview</button>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
        <script src="/static/JS/newPost.js"></script>
    </body>
</html>