{% extends "feed.html" %}

{% block head %}
<title>{{profileName}}'s profile ({{username}})</title>
<link rel="stylesheet" href="/static/CSS/profile.css">
{% endblock %}

{% block subtitle %}
<div class="card" style="width: 28rem;">
    {% if profileName == username %}
    <a class="btn btn-success" id="newProfilePic" href="/home/{{username}}/editProfilePicture">+</a>
    {% endif %}
    <img class="card-img-top profilePicture" src="{{profilePicture}}" alt="profile-picture">
    <div class="card-body">
      <h5 class="card-title">{{profileName}}</h5>
      <p class="card-text">{{bio}}</p>
      <a class="text-primary fw-bold text-decoration-none" href="/home/{{username}}/followers/{{profileName}}">{{numFollowers}} followers</a>
      <a class="text-primary fw-bold text-decoration-none mx-3" href="/home/{{username}}/following/{{profileName}}">{{numFollowing}} following</a>
      <br>
      {% if isFollowing %}
      <a href="/home/{{username}}/unfollowUser/{{profileName}}" class="btn btn-success following">Following</a>
      {% elif profileName==username %}
      <a href="/home/{{username}}/editBio" class="btn btn-primary">Edit Bio</a>
      <a href="/login" class="btn btn-danger">Logout</a>
      {% else %}
      <a href="/home/{{username}}/followUser/{{profileName}}" class="btn btn-primary">Follow +</a>
      {% endif %}
    </div>
</div>

{% if posts|length == 0 %}
  {% if profileName == username %}
  <h2>You have no posts yet!</h2>
  {% else %}
  <h2>{{profileName}} has no posts yet!</h2>
  {% endif %}
{% else %}
  {% if profileName == username %}
  <h2>Your Posts:</h2>
  {% else %}
  <h2>{{profileName}}'s Posts:</h2>
  {% endif %}
{% endif %}
{% endblock %}