{% extends "feed.html" %}

{% block head %}
<title>{{profileName}}'s profile ({{username}})</title>
<link rel="stylesheet" href="/static/CSS/profile.css">
{% endblock %}

{% block subtitle %}
<div class="card" style="width: 28rem;">

    {% if profileName == username %}
    <a class="btn btn-success" id="newProfilePic" href="/home/{{username}}/editProfilePicture">+</a>
    {% endif %}
    <img class="card-img-top" src="{{profilePicture}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{profileName}}</h5>
      <p class="card-text">{{bio}}</p>
      <a class="text-primary fw-bold text-decoration-none" href="/home/{{username}}/followers/{{profileName}}">{{numFollowers}} followers</a>
      <a class="text-primary fw-bold text-decoration-none mx-3" href="/home/{{username}}/following/{{profileName}}">{{numFollowing}} following</a>
      <br>
      {% if isFollowing %}
      <a href="/home/{{username}}/unfollowUser/{{profileName}}" class="btn btn-success following">Following</a>
      {% elif profileName==username %}
      <a href="/home/{{username}}/editBio" class="btn btn-primary">Edit Bio</a>
      {% else %}
      <a href="/home/{{username}}/followUser/{{profileName}}" class="btn btn-primary">Follow +</a>
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block feed %}
<div class="row">
    <!-- With help from : https://bobbyhadz.com/blog/iterate-dictionary-or-list-of-dictionaries-in-jinja-template#manually-accessing-the-keys-of-each-dictionary-in-the-jinja-template-->
    <!-- + https://bootsnipp.com/snippets/or33d -->
    {% for post in profilePosts %}
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 chatterverse-post">
        <div class="box-part user-info">
            <img class="profile-picture" src="{{profilePicture}}"></img>
            <div class="post-author">
                <a href="/home/{{username}}/profile/{{post['author']}}"><h4>{{post['author']}}</h4></a>
            </div>
        </div>
        <div class="box-part text-center post">
            <img class="post-picture" src="{{post['img-url']}}"></img>
            <div class="post-content">
                <p>{{post['text']}}</p>
                <p class="hashtags">
                    {% for hashtag in post['hashtags'] %}
                    <a href="/home/{{username}}/hashtag/{{hashtag}}">#{{hashtag}}</a>
                    {% endfor %}
                </p>
                {% if profileName == username %}
                <a class="btn btn-danger" href="/{{username}}/deletePost/{{post['id']}}">Delete Post</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}