<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/CSS/userlist.css">
        <title>{{profile}}'s {{title}}</title>
    </head>
    <body>
            <nav class="navbar navbar-expand-lg navbar-light bg-primary">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/home/{{username}}">Home</a>
                    <a class="navbar-brand" href="/home/{{username}}/profile/{{username}}">Profile</a>
                    <a class="navbar-brand" href="/home/{{username}}/newPost">New Post</a>
                    <a class="navbar-brand" href="/login">Logout</a>
                </div>
            </nav>
            <div class="container-fluid text-center">
                <h1>{{profile}}'s {{title}}</h1>
                {% for user in users %}
                <div class="user">
                    <a href="/home/{{username}}/profile/{{user}}">{{user}}</h3>
                </div>
                {% endfor %}
            </div>
    </body>
</html>